In [1]:
import pandas as pd
temperature_df = temperature_data = pd.DataFrame({
    'city':['mumbai','dehli','banglore'],
    'temperature':[36,30,28]
})
temperature_df

       city  temperature
0    mumbai           36
1     dehli           30
2  banglore           28

In [2]:
windspeed_df = temperature_data = pd.DataFrame({
    'city':['mumbai','dehli','banglore'],
    'windspeed':[12,9,13]
})
windspeed_df

       city  windspeed
0    mumbai         12
1     dehli          9
2  banglore         13

In [3]:
df = pd.concat([temperature_df,windspeed_df]) # the df will append into new row
df

C:\Users\xavi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

       city  temperature  windspeed
0    mumbai         36.0        NaN
1     dehli         30.0        NaN
2  banglore         28.0        NaN
0    mumbai          NaN       12.0
1     dehli          NaN        9.0
2  banglore          NaN       13.0

In [4]:
df = pd.concat([temperature_df,windspeed_df], axis=1)# the df will append the data in new column.
df

       city  temperature      city  windspeed
0    mumbai           36    mumbai         12
1     dehli           30     dehli          9
2  banglore           28  banglore         13

# when u have cities name not in order use index

In [8]:
temperature_df = temperature_data = pd.DataFrame({
    'city':['mumbai','dehli','banglore'],
    'temperature':[36,30,28],
    }, index=[0,1,2])
temperature_df

       city  temperature
0    mumbai           36
1     dehli           30
2  banglore           28

In [9]:
windspeed_df = temperature_data = pd.DataFrame({
    'city':['dehli','mumbai'],
    'windspeed':[12,9]
}, index=[1,0])
windspeed_df

     city  windspeed
1   dehli         12
0  mumbai          9

In [10]:
df = pd.concat([temperature_df, windspeed_df], axis = 1)
df

       city  temperature    city  windspeed
0    mumbai           36  mumbai        9.0
1     dehli           30   dehli       12.0
2  banglore           28     NaN        NaN

# concat a DF with a Series

In [11]:
temperature_df

       city  temperature
0    mumbai           36
1     dehli           30
2  banglore           28

In [13]:
s= pd.Series(['Humid','Dry','Rain'], name='event') #to create a series
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [14]:
df = pd.concat([temperature_df, s], axis=1) #append the series in the new column in df
df

       city  temperature  event
0    mumbai           36  Humid
1     dehli           30    Dry
2  banglore           28   Rain