# Reading/Writing a CSV/Excel File in Pandas

In [1]:
import pandas as pd
df = pd.read_csv('E:\\DataSets\\stock_data.csv')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [ ]:
df = pd.read_csv('E:\\DataSets\\stock_data.csv', skiprows=1) # to skip the rows in the csv file while making a daraframe
df = pd.read_csv('E:\\DataSets\\stock_data.csv',header = 1) # it sets the header of the dataframe to row 1(0 being the first)

In [ ]:
#if you do not have headers in the file then you can add using names arguement and by setting header=None
df = pd.read_csv('E:\\DataSets\\stock_data.csv', header=None, names=['tikcker','eps','revenue','price','people'])

In [ ]:
df = pd.read_csv('E:\\DataSets\\stock_data.csv',nrows=3) # only read first three rows from the file excluding header

In [2]:
import pandas as pd
df = pd.read_csv('E:\\DataSets\\stock_data.csv', na_values=['not available','n.a.']) # replaces with NaN
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3    RIL     NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [5]:
import pandas as pd
df = pd.read_csv('E:\\DataSets\\stock_data.csv', na_values={
    'eps':['not available','n.a.'],
    'revenue':['not available','n.a.',-1],
    'people':['not available','n.a.'],
    'price':['not available','n.a.']
})
df            # selectively replace '-1' wih 'NaN' usign dictionary. notice the '-1' in eps header.

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [6]:
df.to_csv('E:\\DataSets\\new.csv') #will create a new file containing the data in the dataframe

In [7]:
df.to_csv('E:\\DataSets\\new.csv', index=False) # will create a csv file without the indices.(it will overwrite the prvious file)

In [8]:
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [9]:
df.to_csv('E:\\DataSets\\new.csv',columns = ['tickers','eps']) # will create a csv with only two columns

In [ ]:
df.to_csv('E:\\DataSets\\new.csv',header=False) # will create a csv without headers

# Read/write Excel Files

In [11]:
import pandas as pd
df = pd.read_excel('E:\\DataSets\\stock_data.xlsx','Sheet1')
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [15]:
import pandas as pd
def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sam walton'
    return cell
df = pd.read_excel('E:\\DataSets\\stock_data.xlsx','Sheet1', converters = {
    'people': convert_people_cell
})
df        #using a converters arguement to replace the n.a. withe person name:done using convert_people_cell function.

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65     sam walton
2    MSFT             -1       85    64     bill gates
3    RIL   not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [21]:
import pandas as pd
def convert_people_cell(cell):
    if cell=='n.a.':
        return 'sam walton'
    return cell
def convert_eps_cell(cell):
    if cell== 'not available':
        return None
    return cell
df = pd.read_excel('E:\\DataSets\\stock_data.xlsx','Sheet1', converters = {
    'people': convert_people_cell,
    'eps': convert_eps_cell
})
df        #using a converters arguement to replace the n.a. withe person name:done using convert_people_cell function.

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [24]:
df.to_excel('E:\\DataSets\\new.xlsx', sheet_name='stocks')

In [26]:
df.to_excel('E:\\DataSets\\new.xlsx', sheet_name='stocks', startrow=1,startcol=2) #start writing from row1 co

In [28]:
df.to_excel('E:\\DataSets\\new.xlsx', sheet_name='stocks', index=False)

# Writing two data frames in one excel file using Excel.Writer class

In [31]:
df_stocks = pd.DataFrame({
    'tickers':['Google','WMT','MSFT'],
    'price': [845,65,64],
    'pe': [30.37,14.26,30.97],
    'eps': [27.82,4.61,2.12]
})

df_weather = pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain','Sunny','Snow']
})

In [32]:
with pd.ExcelWriter('E:\\DataSets\\stock_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name='stocks')
    df_weather.to_excel(writer, sheet_name='weather')